:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --perano: #ABB3F4;
  --chetwode-blue: #868FDB;
  --oyster-pink: #EACBCB;
  --quicksand: #BF8F8F;
  --pot-pourri: #F7E6E6;
  --roof-terracotta: #B01F23;
  --vis-vis: #FFF0A3;
  --kournikova: #FFEC7C;
  --sweet-corn: #FAE887;
}

@media (hover:hover) {

  .intro-page__link:hover {
    background: var(--chetwode-blue);
  }

  .category__button:hover {
    background: var(--quicksand);
  }

  .results__btn:hover {
    background: var(--chetwode-blue);
  }

}

@media (min-width: 1399px) {

  .category__list {
    justify-content: flex-start;
  }

  .results__list {
    justify-content: center;
  }

}

@media (min-width: 1199px) {

  .category__list {
    justify-content: flex-start;
  }

  .results__item {
    width: 220px;
    height: 220px;
  }

}

@media (min-width: 1049px) {

  .results-content__container {
    padding: 65px 134px;
  }

  .results__list {
    justify-content: space-evenly;
  }

}

@media (min-width: 991px) {

  .main__img {
    margin-bottom: 100px;
  }

}

@media (min-width: 899px) {

  .category__box {
    padding: 60px 50px;
  }

}

@media (min-width: 786px) {

  .results-content__container {
    padding: 65px 28px;
  }

  .results__list {
    justify-content: space-evenly;
  }

}

@media (min-width: 589px) {
  .results-content__container {
    padding: 65px 0px;
    background-color: var(--kournikova);
  }

  .results__list {
    justify-content: space-evenly;
  }

}

@media (min-width: 441px) {

  .results-content__container {
    padding: 65px 0px;
    background-color: var(--kournikova);
  }

}

@media (min-width: 330px) {

  .results-content__container {
    padding: 65px 0px;
    background-color: var(--kournikova);
  }

}